*.exe
*.o
*.txt
*.json
*.cmake
*.build
*.gitattributes
*.editorconfig
*.md
*.hf
*.svg
*.sh
*.hfd
*.EXE
*.bin
ted



build
testes-t1
/unity/Unity/.github
/unity/auto
/unity/docs
/unity/examples
/unity/extras
/unity/test


